* {
    font-family: "Tilt Warp", sans-serif;
    font-optical-sizing: auto;
    font-weight: 50;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;
}

.body {
    overflow: hidden;
}